body {
    background-color: #CECECE;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: max-content;
    min-height: 30px;
    padding: 10px;
    border: none;
    background-color: #fff;
}

.form__input--active {
    color: rgb(67, 167, 67);
}

.form__btn {
    width: 100px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    background-color: #9fcbf07a;
}

.form__btn:hover {
    background-color: rgb(138, 176, 202);
    transition: 0.2s;
}

.form__success {
    display: none;
    text-align: left;
    color: rgb(67, 167, 67);
}

.form__success--active {
    display: block;
}