fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    margin-bottom: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__wrapper {
    display: flex;
    gap: 5px;
}

.form__wrapper--col {
    flex-direction: column;
    align-items: flex-start;
}


.form__btn {
    align-self: flex-start;
}

.result__list {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__alert-required--name, 
.form__alert-required--email, 
.form__alert-invalid--email {
    display: none;
    color: #FBABAB;
}

.active { 
    display: block;
}