.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 50px;
}

.card {
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #00457E;
    border-radius: 30px;
    box-shadow: 1px 5px 50px rgb(114, 114, 114);
}

.card__holder {
    position: absolute;
    max-width: 300px;
    bottom: 50px;
    left: 50px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    color: aliceblue;
}